.section_title,
.row_flex,
.form_row:last-child,
.responsive_header,
#global_header,
#footer,
#footer_spacer {
	display: none !important;
}
.responsive_page_content,
.responsive_page_template_content,
.joinsteam_content_container {
	padding: 0px !important;
}
#captcha_entry {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}
